@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

*{
  font-family: "Roboto"; 
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  display: flex;
  flex-direction: column;
}

.header-container{
  background-color: #1F2937; 
  color: #F9FAF8; 
  padding: 20px 0; 
  display: flex;
  justify-content: space-around;  
}

.header{
  display: flex;
  justify-content: space-between;
}

.content-container{
  background-color: #1F2937;
  color: #F9FAF8; 
  padding: 20px 0; 
  flex: 1; 
}

.information-container{
  flex: 1;
}

.quote-container{
  background-color: #E5E7EB; 
  flex: 1; 
}

.footer-container{
  background-color: #1F2937;
}
